.jumbotron {
  padding-top:0px; 
  padding-bottom:0px; 
  background-color:rgb(98, 133, 156);
}

#logo {
  margin-top:0px; 
  margin-right: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

#header {
  color:white; 
  font-family: 'Italianno', cursive;
  margin-top:2px;
  font-size: 50px;
  margin-top: 15px;
}

#sign-up, #sign-in  {
  margin-top:3%;
}

#signupbtn {
  margin-left:15px; 
  background-color:rgb(98, 133, 156); 
  color:white;
  margin-bottom: 2%;
}

#signinbtn {
  background-color:rgb(98, 133, 156); 
  color:white;
  margin-bottom: 5%;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: rgb(98, 133, 156);
  cursor: default;
  background-color: white ;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

a {
  color:#2D4250;
}

#info {
  margin-top: 1%;
  border:solid;
  border-width:thin; 
  width:57%;
  height: 100%; 
  padding:0px;
  border-color: lightgray;
}

#toptabs {
  width: 100%;
  margin-top: 3%;
}