.jumbotron {
  padding-top:0px; 
  padding-bottom:0px; 
  background-color:#2D4250;
}

#logo {
  margin-top:5px; 
  margin-right:20px;
}

#header {
  color:white; 
  font-family: 'Slabo 10px', serif; 
  margin-top:2px;
  font-size: 40px;
  margin-top: 15px;
}

#sign-up, #sign-in  {
  margin-top:3%;
}

#signupbtn {
  margin-left:15px; 
  background-color:#2D4250; 
  color:white;
}

#signinbtn {
  background-color:#2D4250; 
  color:white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #2D4250;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

 a {
  color:#2D4250;
 }

